.first-section {
  &__mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    &__title {
      color: #f1f1f1;
      text-align: center;
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    &__text {
      color: #949494;
      font-size: 12px;
      text-align: center;
      margin-bottom: 30px;
      line-height: 24px;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    &__img {
      width: 100%;
      max-width: 420px;
      margin: 0 auto 30px;
    }
    &__blur {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120px;
      height: 120px;
      background-color: rgb(106, 170, 243);
      border-radius: 50%;
      filter: blur(100px);
      z-index: -1;
    }
  }
}

.colored-text {
  color: $main-purple-color;
}

.filled {
  background-color: $main-purple-color;
}

.second-button {
  color: #cdcdcd;
  font-size: 12px;
  font-weight: 600;
}

.first-button {
  padding: 8px 40px;
  border-radius: 100px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

@media (min-width: 360px) {
  .first-section__mobile__title {
    font-size: 26px;
    line-height: 40px;
  }
  .first-section__mobile__text {
    font-size: 14px;
  }
}
@media (min-width: 400px) {
  .first-section__mobile__title {
    font-size: 28px;
    line-height: 42px;
  }
  .first-section__mobile__blur {
    top: 65%;
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 500px) {
  .first-section__mobile__title {
    font-size: 30px;
    line-height: 45px;
  }
}
