// colors

$logo-color: #eee;
$main-purple-color: #806cfe;
$burger-line-color: #1d0f1e;
$light-grey: #c0c0c0;

// text - font weight

$text-normal: 400;
$text-medium: 500;
$text-semi-bold: 600;
$text-bold: 700;
